[Unit]
Description=iptables rules for OpenVPN
Before=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=$IPTABLES_DIR/add-rules-%i.sh
ExecStop=$IPTABLES_DIR/remove-rules-%i.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target